$main-color: #ff8400;
$secondary-color: #f51856;
$typography-color: #000000;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Segoe UI', sans-serif;

$main-fontSize: 16px;

$header-bg-url: url("../img/home/header-bg.jpg");
$header-bg-url_v2: url("../../img/home/header-bg_v2.jpg");
$section-bg-url_v1: url("../../img/home/section-bg_v1.png");
$section-bg-url_v2: url("../../img/home/section-bg_v2.png");